name: Automatisation des tests DevSecOps
on: push

jobs:
  Dependances:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du Code
        uses: actions/checkout@v4
      
      - name: Contrôle des dépendances avec Trivy
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          severity: 'CRITICAL,HIGH,MEDIUM'
          format: 'table'
          output: 'dependances-report.txt' # On définit le fichier de sortie

      - name: Sauvegarder l'artefact Dépendances
        if: always() # Pour avoir le rapport même si le scan échoue
        uses: actions/upload-artifact@v4
        with:
          name: rapport-dependances
          path: dependances-report.txt

  Dockerfile:
    runs-on: ubuntu-latest
    needs: Dependances
    steps:
      - name: Checkout du Code
        uses: actions/checkout@v4

      - name: Construire l'Image
        run: docker build -t mon-image-test:latest .
          
      - name: Scanner l'Image avec Trivy
        run: |
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sudo sh -s -- -b /usr/local/bin
          # On ajoute l'option --output
          trivy image --severity CRITICAL,HIGH,MEDIUM,LOW --format table --output image-report.txt mon-image-test:latest

      - name: Sauvegarder l'artefact Image
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: rapport-image-docker
          path: image-report.txt

  Deploy:
    runs-on: ubuntu-latest
    needs: Dockerfile
    steps:
      - name: Deploy
        run: echo "Déploiement en cours..."
